body {
  font-family: Raleway, sans-serif;
  color: #818181;
  font-size: 14px;
  line-height: 26px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-weight: 400;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.banner {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 450px;
  background-color: #bfbfbf;
  background-image: url('../images/overlay-pattern.png'), url('../images/banner.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
}

.Banner-buttons {
  float: right;
}

.logo {
  padding-right: 30px;
  padding-left: 30px;
  overflow: hidden;
}
.tittle {
  color: white;
  font-size: 80px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.banner-container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.text-banner {
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  line-height: 39px;
  font-weight: 300;
  text-align: center;
}
.download {
  margin-left: 15px;
  padding: 15px 15px 12px;
  float: left;
  border: 1px solid white;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: justify;
  text-decoration: none;
}
.download:hover {
  border-color: #09c28f;
  background-color: #09c28f;
}
.icon {
  display: inline-block;
  padding-bottom: 5px;
  width: 25px;
  height: 26px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.icon--play {
  background-image: url("../images/ico2_green.png");
}

.download:hover .icon--play {
  background-image: url("../images/ico2.png");
}

.icon--appstore {
  background-image: url("../images/ico1_green.png");
}

.download:hover .icon--appstore {
  background-image: url("../images/ico1.png");
}

.download-text {
  display: inline-block;
  padding-left: 10px;
  color: #444;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Login-button {
  background-color: transparent;
  color: #fff;
}

.Login-button:hover {
  background-color: #fff;
  border-color: #fff;
}

.Login-button .download-text {
  color: #fff;
}

.Login-button:hover .download-text {
  border-color: #fff;
  color: #444;
}

.original {
  position: relative;
  left: 0px;
  top: -44px;
  font-size: 20px;
  font-weight: 300;
}
.navbar {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.slider {
  height: auto;
  clear: both;
  background-color: transparent;
  text-align: center;
}
.hide {
  display: none;
}
.iphone {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.iphone-section {
  position: relative;
  margin-top: -484px;
  background-color: transparent;
}
.arrow {
  width: 50px;
  height: 50px;
  margin-top: 235.5px;
  padding-top: 12px;
  border-radius: 5px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: rgba(255, 255, 255, 0.56);
  font-size: 25px;
}
.arrow:hover {
  background-color: rgba(255, 255, 255, 0.49);
  color: white;
}
.vertical {
  width: 10.6%;
  margin-right: 190px;
}
.vertical._2 {
  margin-right: 0px;
  margin-left: 190px;
}
.about-section {
  background-color: #f2f2f2;
}
.nav-scroll {
  position: fixed;
  display: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.99);
}
.logo-brand {
  padding-top: 12px;
}
.navlink {
  padding-right: 13px;
  padding-left: 13px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #9d9d9d;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.navlink:hover {
  color: #4c4c4c;
}
.navlink.w--current {
  color: #4c4c4c;
}
.name_tittle {
  margin-bottom: 12px;
  color: #515151;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.name_tittle.why {
  text-align: left;
}
.name_tittle.services {
  color: white;
}
.name_tittle.what {
  color: white;
}
.h_line {
  display: block;
  width: 2px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: #09c28f;
}
.h_line.why {
  margin-right: 0px;
  margin-left: 0px;
}
.container {
  padding-top: 80px;
  padding-bottom: 100px;
}
.container.why {
  padding-bottom: 0px;
}
.container.cont {
  padding-bottom: 80px;
}
.features {
  margin-top: 50px;
}
.features {
  margin-top: 70px;
  text-align: center;
}
.tittle_features {
  margin-bottom: 10px;
  color: #585858;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.ico_features {
  margin-bottom: 20px;
}
.client-logo {
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
}
.why-section {
  background-color: white;
}
.column_why {
  text-align: left;
}
.list-why {
  margin-top: 15px;
}
.list {
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-text {
  display: inline-block;
}
.ico-list {
  margin-right: 10px;
}
.service-section {
  background-image: url('../images/overlay-pattern.png'), url('../images/profile-bg.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}
.app {
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}
.testimonials-section {
  background-color: white;
}
.client-name {
  color: #616161;
  font-size: 15px;
  font-weight: 600;
}
.photo-testi {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100px;
  background-image: url('../images/member5.jpg');
  background-size: 100px;
}
.photo-testi._2 {
  background-image: url('../images/member7.jpg');
}
.photo-testi._3 {
  background-image: url('../images/member6.jpg');
}
.subscribe-field {
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 2px;
  border-bottom-color: rgba(255, 255, 255, 0.29);
  border-left-style: none;
  background-color: transparent;
  opacity: 1;
  color: white;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}
.subscribe-field:focus {
  border-bottom-color: #fc6347;
}
.form_sub {
  margin-top: 40px;
  color: white;
}
.form-wrapper {
  color: white;
}
.sub-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sub-button:hover {
  border-color: #fc6347;
  background-color: #fc6347;
}
.service-section {
  background-attachment: fixed, fixed;
}
.what-section {
  background-color: white;
  background-image: url('../images/food.png');
  background-attachment: fixed;
}
.success {
  margin-top: 50px;
  padding-top: 52px;
  padding-bottom: 52px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.38);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.58);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.success._2 {
  border-color: #fc6347;
}
.success_p {
  font-weight: 200;
}
.success_p._2 {
  color: #fc6347;
}
.error {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(242, 68, 68, 0.63);
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
}
.circle-services {
  display: inline-block;
  width: 85px;
  height: 85px;
  padding-top: 20px;
  border: 1px solid #fc6347;
  border-radius: 70px;
}
.slider-services {
  height: auto;
  margin-top: 50px;
  background-color: transparent;
}
.column_serv {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.serv {
  color: white;
  font-weight: 600;
}
.serv-p {
  color: rgba(255, 255, 255, 0.89);
}
.dots-nav {
  bottom: -53px;
}
.form-contact {
  margin-top: 60px;
}
.text-field {
  margin-top: 10px;
  padding-bottom: 75px;
  border: 1px solid #e1e1e1;
  color: #fc6347;
  font-size: 13px;
}
.text-field:focus {
  border: 1px solid #707070;
}
.text-f {
  border: 1px solid #e1e1e1;
  color: #fc6347;
  font-size: 13px;
}
.text-f:focus {
  border-color: #707070;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.butto-contact {
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 30px;
  border: 2px solid #09c28f;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #09c28f;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.butto-contact:hover {
  background-color: #09c28f;
  color: white;
}
.footer {
  background-color: #282f36;
}
.mail-contact {
  display: block;
  margin-top: 10px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #737e89;
  font-style: italic;
  text-decoration: none;
}
.mail-contact:hover {
  color: white;
}
.mail-contact._2 {
  margin-top: 3px;
}
.line_fotter {
  width: 100%;
  height: 1px;
  background-color: rgba(115, 126, 137, 0.2);
}
.row_contact {
  margin-bottom: 50px;
}
.logo_footer {
  margin-top: 50px;
  text-align: center;
}
.social-footer {
  margin-top: 30px;
  text-align: center;
}
.circle-footer {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  padding-top: 4px;
  border: 2px solid white;
  border-radius: 50px;
  opacity: 0.5;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.circle-footer:hover {
  opacity: 1;
}
.div-copyright {
  margin-top: 15px;
  color: #737e89;
  text-align: center;
}
html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
}
html.w-mod-js *[data-ix="from-top"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  -o-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js *[data-ix="from-left"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  -o-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}
html.w-mod-js *[data-ix="from-right"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  -o-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="from-left-scroll"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  -o-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="from-right-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  -o-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}
@media (max-width: 991px) {
  .logo {
    text-align: center;
  }
  .tittle {
    font-size: 70px;
  }
  .banner-container {
    padding-top: 45px;
  }
  .text-banner {
    font-size: 24px;
  }
  .download {
    float: none;
  }
  .brand {
    display: none;
  }
  .vertical {
    margin-right: 130px;
  }
  .vertical._2 {
    margin-left: 130px;
  }
  .menu.w--open {
    background-color: #fc6347;
  }
  .nav-menu {
    background-color: rgba(255, 255, 255, 0.96);
  }
}
@media (max-width: 767px) {
  .tittle {
    font-size: 60px;
  }
  .text-banner {
    font-size: 23px;
  }
  .vertical {
    margin-right: 62px;
  }
  .vertical._2 {
    margin-left: 49px;
  }
  .container.why {
    padding-bottom: 80px;
  }
  .container.cont {
    padding-right: 10px;
    padding-left: 10px;
  }
  .column_serv {
    margin-bottom: 50px;
  }
  .col_space {
    margin-bottom: 50px;
  }
  .col_ceneter {
    text-align: center;
  }
  .col_contact {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu {
    margin-right: 15px;
  }
  
  .Login-button {
    margin-top: 20px;
  }
}
@media (max-width: 479px) {
  .tittle {
    font-size: 33px;
    padding-left: 5px;
    margin: 10px;
  }
  .text-banner {
    font-size: 19px;
    line-height: 35px;
  }
  .download {
    margin-bottom: 15px;
    margin-left: 0;
    width: 170px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  
  .w-widget-map {
    display: none;
  }
  
  .Login-button {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .Login-button:hover {
    background: none;
  }
  
  .Login-button:hover .download-text {
    color: #fff;
  }
  
  .banner-container {
    padding-top: 0;
  }
  
  .original {
    top: -26px;
    font-size: 16px;
  }
  .vertical {
    width: 19%;
    margin-right: 0px;
  }
  .vertical._2 {
    margin-left: 0px;
  }
  .menu {
    margin-right: 10px;
  }
}

