@charset "UTF-8";
/*!
 * Bundll by Thomas S Bull
 */
/**
 * Config
 */
/**
 * Settings
 *
 * Extend `_defaults.scss` from the core and define global settings.
 */
/**
 * Base
 */
/**
 * Text sizes
 */
/**
 * Line heights
 */
/**
 * Spacing
 */
/**
 * Breakpoints
 *
 * Hold our breakpoint aliases and conditions in a list. These can be invoked
 * later on via the `respond-to()` mixin found in _mixins.scss.
 */
/**
 * Tools
 */
/**
 * Font size mixin
 *
 * This will generate a rem-based font-size with its pixel fallback.
 *
 * @include font-size(12px);
 */
/**
 * Media query mixin
 *
 * A simple mixin to quickly generate whole media queries from the aliases and
 * conditions defined in `_settings.scss`.
 *
 * @include respond-to(mobile) { ... }
 */
/**
 * Ceaser cubic bezier’s easing animations
 *
 * Based on: http://matthewlein.com/ceaser
 */
/**
 * Cubic
 */
/**
 * Circ
 */
/**
 * Expo
 */
/**
 * Quad
 */
/**
 * Quart
 */
/**
 * Quint
 */
/**
 * Sine
 */
/**
 * Back
 */
/**
 * Base
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */
/**
 * High, page-level styling.
 *
 * 1. Set the default font-family, `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* 1 */
  font-size: 0.9375em;
  /* 1 */
  line-height: 1.4666666667;
  /* 1 */
  background: #fff;
  color: #444c4a;
  overflow-y: scroll;
  /* 2 */
  min-height: 100%;
  /* 3 */
  -moz-osx-font-smoothing: grayscale;
  /* 4 */
  -webkit-font-smoothing: antialiased;
  /* 4 */ }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease; }

a:hover,
a:focus,
a:active {
  color: #787878; }

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0; }

button {
  background: transparent;
  border: 0;
  padding: 0; }

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

iframe {
  border: 0; }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */
[tabindex="-1"]:focus {
  outline: none !important; }

/**
 * Emboldened elements
 */
b,
strong {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/**
 * Address
 */
address {
  font-style: normal; }

/**
 * Selection
 */
::-moz-selection {
  background-color: rgba(28, 28, 30, 0.75);
  color: #fff;
  text-shadow: none; }
::selection {
  background-color: rgba(28, 28, 30, 0.75);
  color: #fff;
  text-shadow: none; }

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* 1 */
  font-style: italic;
  /* 2 */
  vertical-align: middle;
  /* 3 */ }

/**
 * If a `width` and/or `height` attribute have been explicitly defined, let’s
 * not make the image fluid.
 */
img[width],
img[height] {
  max-width: none; }

/**
 * Text inputs
 */
input,
textarea {
  outline: none;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0; }

input[type="search"] {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

::-webkit-input-placeholder {
  color: #787878; }

/**
 * Headings 1–6, extend text utilities
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

/**
 * Utilities
 */
/**
 * Contain floats
 *
 * Make an element expand to contain floated children.
 * Uses pseudo-elements (micro clearfix).
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of the
 *    element.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/**
 * Core grid system
 */
/**
 * Grid container
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 * 2. Ensure consistent default alignment.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.Template-foot, .Template--signIn .Template-body,
.Template--signUp .Template-body, .Template--addMembers .Template-body, .Post, .Slider-body, .Form--2col .Form-body, .Form-foot, .OverviewList-items, .AvatarList {
  display: block;
  /* 1 */
  margin: 0;
  /* 1 */
  padding: 0;
  /* 1 */
  text-align: left;
  /* 2 */
  margin-left: -20px;
  /* 3 */ }

/**
 * Grid item
 *
 * 1. Fundamentals of the non-float grid layout.
 * 2. Space columns apart.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Controls vertical positioning of units.
 * 5. Make cells full-width by default.
 */
.Template--signIn .Template-section,
.Template--signUp .Template-section, .Template--addMembers .Template-section, .Post-region, .Slider-section, .Form--2col .Form-body .Form-section, .Form-foot .Form-section, .OverviewList-items > li, .AvatarList li {
  display: inline-block;
  /* 1 */
  margin: 0;
  padding-left: 20px;
  /* 2 */
  text-align: left;
  /* 3 */
  vertical-align: top;
  /* 4 */
  width: 100%;
  /* 5 */ }

/**
 * Display-type utilities
 */
/**
 * Completely remove from the flow but leave available to screen readers.
 */
/**
 * Text utilities
 *
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 */
h1 {
  font-size: 16px;
  font-size: 1.0666666667rem;
  line-height: 1.5; }

h2 {
  font-size: 24px;
  font-size: 1.6rem;
  line-height: 1; }

h3 {
  font-size: 16px;
  font-size: 1.0666666667rem;
  line-height: 1.5; }

h4 {
  font-size: 12px;
  font-size: 0.8rem;
  line-height: 1.4; }

h5 {
  font-size: 10px;
  font-size: 0.6666666667rem;
  line-height: 1.4; }

h6 {
  font-size: 10px;
  font-size: 0.6666666667rem;
  line-height: 1.2; }

/**
 * Components
 */
/** @define Button */
/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Remove border.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 */
.Button {
  -webkit-appearance: none;
  /* 1 */
  background: transparent;
  border: 0;
  /* 2 */
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 6 */
  white-space: normal;
  /* 7 */
  -webkit-font-smoothing: inherit;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease; }

/**
 * Remove excess padding and border in Firefox 4+
 */
.Button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

/**
 * UI states
 */
.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none; }

.Button:hover {
  opacity: 0.6; }

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: 0.6; }

/**
 * Modifier: add alpha
 */
.Button--addAlpha {
  width: 48px;
  height: 48px;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0f2ed 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e0f2ed 100%);
  text-indent: -1000em;
  overflow: hidden;
  position: relative; }
  .Button--addAlpha:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
    background: url("../img/css/add-alpha-icon.png") no-repeat; }

/**
 * Modifier: primary
 */
.Button--primary {
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #fff;
  border: 1px solid #19c591;
  border-radius: 4px;
  padding: 11px 16px 11px 16px;
  background-image: -webkit-linear-gradient(top, #7cf5a2 0%, #13c38f 100%);
  background-image: linear-gradient(to bottom, #7cf5a2 0%, #13c38f 100%); }

.ButtonWrap {
  padding-top: 16px;
  text-align: right; }

/**
 * Modifier: facebook
 */
.Button--facebook {
  font-size: 14px;
  font-size: 0.9333333333rem;
  font-weight: bold;
  font-weight: bold;
  color: #fff;
  background: #3d67aa;
  border: 1px solid #3b5995;
  background-image: -webkit-linear-gradient(top, #4497e4 0%, #3b5b9a 100%);
  background-image: linear-gradient(to bottom, #4497e4 0%, #3b5b9a 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px; }

/**
 * Modifier: full width
 */
.Button--full {
  width: 100%; }

/** @define TopBar */
.TopBar {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #10bd8b;
  background-image: -webkit-linear-gradient(top, #7df6a2 0%, #13c38e 100%);
  background-image: linear-gradient(to bottom, #7df6a2 0%, #13c38e 100%); }
  @media (max-width: 745px) {
    .TopBar {
      height: 48px; } }
  @media (min-width: 746px) {
    .TopBar {
      height: 64px; } }

.TopBar-menu {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #12c38f;
  text-indent: -1000em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 745px) {
    .TopBar-menu {
      width: 49px;
      height: 48px;
      background-image: url("../img/css/menu-icon.png"); } }
  @media (min-width: 746px) {
    .TopBar-menu {
      width: 65px;
      height: 64px;
      background-image: url("../img/css/menu-icon-large.png"); } }

@media (max-width: 745px) {
  .TopBar-logo {
    display: none; } }
@media (min-width: 746px) {
  .TopBar-logo {
    width: 105px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 80px;
    text-indent: -1000em;
    overflow: hidden;
    background: url("../img/css/logo.png") no-repeat; } }

.TopBar-title {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid;
  margin-top: 11px;
  position: relative; }
  @media (max-width: 745px) {
    .TopBar-title {
      font-size: 16px;
      font-size: 1.0666666667rem;
      padding-right: 12px; } }
  @media (min-width: 746px) {
    .TopBar-title {
      font-size: 24px;
      font-size: 1.6rem;
      padding-right: 14px; } }
  .TopBar-title:after {
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat; }
    @media (max-width: 745px) {
      .TopBar-title:after {
        bottom: 3px;
        background-image: url("../img/css/top-bar-title-icon.png"); } }
    @media (min-width: 746px) {
      .TopBar-title:after {
        bottom: 8px;
        background-image: url("../img/css/top-bar-title-icon-large.png"); } }

@media (max-width: 745px) {
  .TopBar-newBundll {
    display: none; } }
@media (min-width: 746px) {
  .TopBar-newBundll {
    color: #38d596;
    padding: 10px 11px 9px 34px;
    border-radius: 4px;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 76px;
    background-image: -webkit-linear-gradient(top, #fff 0%, #dff1ec 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #dff1ec 100%);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2); } }
.TopBar-newBundll:before {
  content: "+";
  font-size: 22px;
  font-size: 1.4666666667rem;
  position: absolute;
  top: 4px;
  left: 10px; }

.TopBar-notifications {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -1000em;
  overflow: hidden;
  border-left: 1px solid #12c38f;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 745px) {
    .TopBar-notifications {
      width: 49px;
      height: 48px;
      background-image: url("../img/css/notifications-icon.png"); } }
  @media (min-width: 746px) {
    .TopBar-notifications {
      width: 65px;
      height: 64px;
      background-image: url("../img/css/notifications-icon-large.png"); } }

/** @define Header */
.Header {
  position: relative; }

.Header-media {
  background: #3b3d3c; }

.Header-media img {
  width: 100%;
  opacity: .5;
  -webkit-filter: blur(4px);
          filter: blur(4px); }

.Header-body {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center; }

.Header-title {
  font-size: 48px;
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: bold;
  color: #fff; }

.Header-subtitle {
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px; }

/** @define BundllBar */
.BundllBar {
  display: table;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #cdd2d0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eff6f4 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #eff6f4 100%); }

.BundllBar-unit {
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #cdd2d0; }
  .BundllBar-unit:first-child {
    border-left: 0; }

.BundllBar-unit--addMedia {
  width: 64px;
  text-align: center;
  vertical-align: middle; }

.BundllBar-unit--updateStatus {
  padding-top: 20px; }

.BundllBar-unit--allMedia {
  width: 141px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle; }

.BundllBar-unit--members {
  width: 123px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle; }

.BundllBar-unit--settings {
  width: 65px;
  vertical-align: middle;
  text-align: center; }

.BundllBar-addMedia {
  width: 32px;
  height: 32px;
  border: 4px solid #13c38f;
  border-radius: 100%;
  text-indent: -1000em;
  overflow: hidden;
  position: relative; }
  .BundllBar-addMedia:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../img/css/upload-pic-icon.png"); }

.BundllBar-allMedia {
  font-size: 14px;
  font-size: 0.9333333333rem;
  width: 100%;
  color: #11c28f;
  font-weight: bold;
  border: 1px solid #b1beba;
  border-radius: 4px;
  padding: 11px 0 10px 0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0f2ed 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e0f2ed 100%); }

.BundllBar-membersToggle {
  color: #909895;
  font-weight: bold;
  width: 100%;
  padding: 11px 10px 10px 0; }
  .BundllBar-membersToggle:after {
    content: "";
    width: 10px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    background: url("../img/css/down-arrow-tiny.png"); }

.BundllBar-settingsToggle {
  width: 32px;
  height: 32px;
  text-indent: -1000em;
  overflow: hidden;
  background: url("../img/css/settings-toggle-icon.png"); }

.BundllBar-updateStatus {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  background: transparent; }

/** @define Template */
.Template {
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px; }

.Template-head {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

.Template-head p {
  font-size: 13px;
  font-size: 0.8666666667rem;
  margin-bottom: 20px;
  color: #909895; }

.Template-title {
  font-weight: bold;
  margin-bottom: 20px; }

.Template-subtitle {
  font-size: 14px;
  font-size: 0.9333333333rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px; }
  .Template-subtitle:before, .Template-subtitle:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background: #d5e1de; }
    @media (max-width: 745px) {
      .Template-subtitle:before, .Template-subtitle:after {
        width: 30%; } }
    @media (min-width: 746px) {
      .Template-subtitle:before, .Template-subtitle:after {
        width: 35%; } }
  .Template-subtitle:before {
    left: 0; }
  .Template-subtitle:after {
    right: 0; }

.Template-foot {
  padding: 15px;
  overflow: hidden; }
  @media (max-width: 745px) {
    .Template-foot {
      border-top: 1px solid #bbcdc7;
      background-color: #f3f6f5; } }

.Template-foot .Button {
  float: right; }

.Template-body {
  padding-left: 15px;
  padding-right: 15px; }

/**
 * Modifier: sign in and sign in
 */
.Template--signIn .Template-body,
.Template--signUp .Template-body {
  padding-left: 15px;
  padding-right: 15px; }

@media (max-width: 745px) {
  .Template--signIn .Template-body .Template-section {
    margin-bottom: 20px; } }

@media (min-width: 746px) {
  .Template--signIn .Template-body .Template-section,
  .Template--signUp .Template-body .Template-section {
    width: 50%; } }

@media (max-width: 745px) {
  .Template--signIn .Template-foot .Template-section,
  .Template--signUp .Template-foot .Template-section {
    width: 50%; } }
@media (min-width: 746px) {
  .Template--signIn .Template-foot .Template-section:first-child,
  .Template--signUp .Template-foot .Template-section:first-child {
    width: 60%; } }
@media (min-width: 746px) {
  .Template--signIn .Template-foot .Template-section:last-child,
  .Template--signUp .Template-foot .Template-section:last-child {
    width: 40%; } }

/**
 * Modifier: add members
 */
.Template--addMembers .Template-body {
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 746px) {
  .Template--addMembers .Template-section {
    width: 50%; } }

/**
 * Modifier: create bundll
 */
/**
 * Modifier: status update
 */
/**
 * Modifier: choose bundll
 */
.Template--chooseBundll {
  max-width: none; }

/** @define Post */
.Post {
  margin-bottom: 16px; }

.Post-region:first-child {
  width: 16.666%; }
.Post-region:last-child {
  width: 83.333%; }

.Post-media {
  position: relative; }

.Post-media video {
  width: 100%;
  height: auto; }

.Post-play {
  width: 68px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -35px;
  text-indent: -1000em;
  overflow: hidden;
  background: url("../img/css/play-icon.png") no-repeat; }

.Post-avatar {
  text-align: center; }

.Post-avatar img {
  border-radius: 50%; }

.Post-icons {
  padding-top: 16px; }

.Post-icons li {
  text-align: center;
  font-size: 13px;
  font-size: 0.8666666667rem;
  margin-bottom: 11px; }

.Post-icons .Post-icon {
  margin-right: 6px; }

.Post-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center; }

.Post-icon--heart {
  background-image: url("../img/css/post-heart.png"); }

.Post-icon--heart.is-active {
  background-image: url("../img/css/post-heart-active.png"); }

.Post-icon--speech {
  background-image: url("../img/css/post-speech.png"); }

.Post-icon--speech.is-active {
  background-image: url("../img/css/post-speech-active.png"); }

.Post-body {
  background: #fff;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  overflow: hidden; }

.Post-content {
  padding: 15px 15px 20px 15px;
  position: relative; }

.Post-content h2 {
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #13c390; }

.Post-content time {
  font-size: 14px;
  font-size: 0.9333333333rem;
  color: #909895; }

.Post-content hgroup {
  margin-bottom: 13px; }

.Post-settingsToggle {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../img/css/settings-toggle-small-icon.png"); }

.Post-comments {
  border-top: 1px solid #bbcdc7;
  background: #f1f5f4;
  padding: 15px; }

/** @define Comments */
.Comments-submit {
  width: 32px;
  height: 32px;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #e0f2ed 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #e0f2ed 0%, #fff 100%);
  float: left; }

.Comments-field {
  height: 32px;
  margin-left: 48px; }

.Comments-field input {
  width: 100%;
  height: 100%;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  padding-left: 8px; }

.Comments-list li {
  margin-bottom: 24px; }

/** @define Comment */
.Comment {
  overflow: hidden; }

.Comment-avatar {
  width: 32px;
  float: left; }

.Comment-avatar img {
  border-radius: 50%; }

.Comment-body {
  margin-left: 48px; }

.Comment-title {
  font-size: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #13c390; }

.Comment-title time {
  font-size: 13px;
  font-size: 0.8666666667rem;
  font-weight: normal;
  color: #909895; }

.Comment-body p {
  font-size: 13px;
  font-size: 0.8666666667rem; }

/** @define Slider */
.Slider {
  position: relative; }

.Slider img {
  width: 100%; }

.Slider-body {
  margin-left: -1px; }

.Slider-section {
  padding-left: 1px;
  padding-bottom: 1px; }
  @media (min-width: 746px) {
    .Slider-section {
      width: 50%; } }

.Slider-button {
  position: absolute;
  bottom: 1px;
  right: 15px;
  padding: 6px 12px 6px 12px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-image: -webkit-linear-gradient(top, #7df6a2 0%, #12c38f 100%);
  background-image: linear-gradient(to bottom, #7df6a2 0%, #12c38f 100%);
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #fff;
  font-weight: bold; }

/** @define Modal */
.Modal {
  background: #fff;
  margin: 16px;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(45, 121, 99, 0.3); }
  @media (min-width: 746px) {
    .Modal {
      max-width: 912px;
      margin-left: auto;
      margin-right: auto; } }

.Modal-head {
  text-align: center;
  padding: 11px 40px 30px 40px;
  position: relative; }

.Modal-head p {
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #909895; }

.Modal-title {
  font-weight: bold;
  margin-bottom: 20px; }
  @media (max-width: 745px) {
    .Modal-title {
      font-size: 17px;
      font-size: 1.1333333333rem; } }

.Modal-close {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../img/css/close-icon.png") no-repeat; }

.Modal-body {
  padding-left: 15px;
  padding-right: 15px; }

.Modal-foot {
  background: #f3f6f5;
  border-top: 1px solid #bbcdc7;
  padding: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden; }

.Modal-cta {
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #fff;
  border: 1px solid #19c591;
  border-radius: 4px;
  padding: 11px 16px 11px 16px;
  background-image: -webkit-linear-gradient(top, #7cf5a2 0%, #13c38f 100%);
  background-image: linear-gradient(to bottom, #7cf5a2 0%, #13c38f 100%);
  float: right; }

/** @define Form */
@media (min-width: 746px) {
  .Form--2col .Form-body .Form-section {
    width: 50%; } }

.Form-foot {
  padding-bottom: 30px; }

@media (min-width: 746px) {
  .Form-foot .Form-section:first-child {
    width: 60%; } }
@media (min-width: 746px) {
  .Form-foot .Form-section:last-child {
    width: 40%; } }

@media (min-width: 746px) {
  .Form--signUp .Form-fields,
  .Form--signIn .Form-fields {
    overflow: hidden;
    margin-left: -16px; } }

@media (min-width: 746px) {
  .Form--signUp .Form-fields li,
  .Form--signIn .Form-fields li {
    width: 50%;
    float: left;
    padding-left: 16px; } }

.Form-head .Button--facebook {
  margin-bottom: 30px; }

.Form label,
.Form-label {
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #909895;
  font-weight: bold;
  display: block;
  margin-bottom: 11px; }

.Form-fieldSet {
  padding-right: 65px;
  position: relative; }

.Form-fieldSet button {
  position: absolute;
  top: 0;
  right: 0; }

.Form-field {
  border: 1px solid #bbcdc7;
  padding: 14px 10px 15px 10px;
  border-radius: 4px;
  width: 100%; }

.Form-file {
  border: 1px solid #bbcdc7;
  padding: 14px 10px 15px 10px;
  border-radius: 4px;
  width: 100%; }

.Form-fields li {
  margin-bottom: 33px; }

.Form-links li {
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #909895;
  margin-bottom: 6px; }

.Form-links a {
  color: #909895;
  font-weight: bold; }

.Form-links a:hover {
  color: #000; }

/** @define Item */
.Item-media img {
  width: 100%; }

/**
 * Item table and table cell
 * 
 * Vertically centre elements responsively
 */
.Item-table {
  display: table;
  width: 100%;
  height: 100%; }

.Item-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

/**
 * Modifier: item overview
 */
.Item--overview {
  display: block;
  height: 100%;
  position: relative; }

.Item--overview .Item-media {
  background: #444c4a;
  height: 100%;
  border-radius: 4px;
  overflow: hidden; }

.Item--overview .Item-media img {
  opacity: .5;
  -webkit-filter: blur(2px);
          filter: blur(2px); }

.Item--overview .Item-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  -webkit-transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1); }

.Item--overview h3 {
  font-weight: bold; }

.Item--overview:hover .Item-media img {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0); }

.Item--overview:hover .Item-body {
  opacity: .5; }

@media (max-width: 745px) {
  .Item--overview .Item-foot {
    display: none; } }
@media (min-width: 746px) {
  .Item--overview .Item-foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; } }

/**
 * Modifier: add item
 */
.Item--addItem {
  height: 100%;
  border: 2px solid #138f6b;
  border-radius: 4px; }

.Item--addItem button {
  width: 100%;
  height: 100%;
  color: #138f6b;
  position: relative;
  padding-top: 40px; }
  .Item--addItem button:before {
    content: "+";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -40px;
    border: 4px solid #138f6b;
    border-radius: 6px;
    font-size: 26px;
    font-size: 1.7333333333rem;
    line-height: 20px;
    font-weight: bold; }

/** @define PeopleList */
@media (max-width: 745px) {
  .PeopleList {
    margin-top: 24px;
    padding-top: 21px;
    border-top: 1px solid #c4d4ce; } }

.PeopleList-head p {
  font-size: 13px;
  font-size: 0.8666666667rem;
  font-weight: bold;
  color: #909895; }

.PeopleList-items li {
  font-size: 13px;
  font-size: 0.8666666667rem;
  font-weight: bold;
  color: #909895;
  border-bottom: 1px solid #d5e1de;
  padding-top: 15px;
  padding-bottom: 12px;
  position: relative; }
  .PeopleList-items li:last-child {
    border-bottom: 0; }

.PeopleList-button {
  color: #444c4a;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0f2ed 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e0f2ed 100%);
  padding: 3px 10px 3px 10px;
  position: absolute;
  top: 12px;
  right: 0; }

.PeopleList-remove {
  float: right; }

/**
 * Modifier: small
 */
.PeopleList--small {
  margin-bottom: 16px; }

.PeopleList--small li:last-child {
  border-bottom: 1px solid #d5e1de; }

/** @define OverviewList */
.OverviewList-items {
  margin-left: -16px; }

.OverviewList-items > li {
  padding-left: 16px;
  margin-bottom: 16px; }
  @media (max-width: 745px) {
    .OverviewList-items > li {
      width: 50%; } }
  @media (min-width: 746px) {
    .OverviewList-items > li {
      width: 25%; } }

.OverviewList-tile {
  position: relative;
  height: 0;
  padding-bottom: 66.5%; }

.OverviewList-tileInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/** @define UpdateStatus */
.UpdateStatus-head {
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid #c4d4ce; }

.UpdateStatus-close {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  background: url("../img/css/close-icon.png");
  margin-top: 7px; }

.UpdateStatus-submit {
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #fff;
  float: right;
  padding: 6px 16px 6px 16px;
  border: 1px solid #19c591;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #7cf5a2 0%, #13c38f 100%);
  background-image: linear-gradient(to bottom, #7cf5a2 0%, #13c38f 100%); }

.UpdateStatus-body {
  border-bottom: 1px solid #c4d4ce;
  padding: 16px 16px 10px 16px; }

.UpdateStatus textarea {
  font-size: 13px;
  font-size: 0.8666666667rem;
  color: #909895;
  width: 100%; }

.UpdateStatus-foot {
  padding: 8px; }

.UpdateStatus-addMedia {
  width: 32px;
  height: 32px;
  border: 4px solid #13c38f;
  border-radius: 100%;
  text-indent: -1000em;
  overflow: hidden;
  position: relative; }
  .UpdateStatus-addMedia:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../img/css/upload-pic-icon.png"); }

/** @define AvatarList */
.AvatarList {
  text-align: center; }

.AvatarList li {
  width: auto; }

.AvatarList img {
  border-radius: 50%; }

/**
 * Modifier: small
 */
.AvatarList--small {
  margin-left: -10px; }

.AvatarList--small li {
  width: 25%;
  padding-left: 10px; }

.AvatarList--small img {
  width: 100%; }

/** @define Notifications */
.Notifications {
  width: 320px;
  background: #fff;
  position: absolute;
  top: 64px;
  right: 0;
  border-bottom: 1px solid #bbc0be;
  border-left: 1px solid #dbdfde;
  padding-left: 15px;
  z-index: 3; }

.Notifications-head {
  border-bottom: 1px solid #bbcdc7;
  padding-top: 12px;
  padding-bottom: 12px; }

.Notifications-head h3 {
  font-weight: bold; }

.Notifications-list li {
  border-bottom: 1px solid #bbcdc7; }
  .Notifications-list li:last-child {
    border-bottom: 0; }

/** @define Notification */
.Notification {
  padding-top: 15px;
  padding-bottom: 15px; }

.Notification-head {
  padding-bottom: 15px;
  padding-left: 48px;
  position: relative; }

.Notification-avatar {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden; }

.Notification-title {
  font-weight: bold;
  color: #13c390; }

.Notification-time {
  font-size: 12px;
  font-size: 0.8rem;
  color: #999; }

.Notification-icon {
  position: absolute;
  top: 0;
  right: 15px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat; }

.Notification-icon--bubble {
  background-image: url("../img/css/speech-bubble-icon.png"); }

.Notification-icon--heart {
  background-image: url("../img/css/heart-icon.png"); }

.Notification-subhead {
  padding-bottom: 15px; }

.Notification-subhead p {
  font-size: 12px;
  font-size: 0.8rem;
  color: #999; }

.Notification-subhead a {
  color: #13c390;
  font-weight: bold; }
  .Notification-subhead a:hover {
    color: #999; }

.Notification-body {
  font-size: 12px;
  font-size: 0.8rem; }

/** @define Settings */
.Settings {
  width: 320px;
  background: #fff;
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  padding-left: 15px;
  padding-top: 15px; }

.Settings-title {
  font-size: 17px;
  font-size: 1.1333333333rem;
  font-weight: bold;
  margin-bottom: 16px; }

.Settings-nav li {
  border-top: 1px solid #7df6a2; }

.Settings-nav a {
  display: block;
  font-weight: bold;
  color: #13c390;
  padding-top: 10px;
  padding-bottom: 10px; }

.Settings-nav a:hover {
  color: #999; }
