/**
 * Settings
 *
 * Extend `_defaults.scss` from the core and define global settings.
 */

/**
 * Base
 */

$base-font-size: 15px;
$base-line-height: 22px;
$base-color: #444c4a;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family-bold: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-background: #fff;
$base-link-color: #000;
$base-link-color-hover: #787878;
$base-ui-color: #e3e3e3;
$base-ui-color-alt: #000;
$base-placeholder-color: #787878;
$base-selection-background: rgba(28, 28, 30, 0.75);
$base-selection-color: #fff;
$base-image-color: #ccc;
$base-image-color-loaded: #777;

/**
 * Text sizes
 */

$text-giga: 96px;
$text-mega: 72px;
$text-kilo: 48px;
$text-alpha: 16px;
$text-beta: 24px;
$text-gamma: 16px;
$text-delta: 12px;
$text-epsilon: 10px;
$text-zeta: 10px;
$text-milli: 12px;
$text-micro: 10px;

/**
 * Line heights
 */

$line-height-alpha: 1.5;
$line-height-beta: 1;
$line-height-gamma: 1.5;
$line-height-delta: 1.4;
$line-height-epsilon: 1.4;
$line-height-zeta: 1.2;

/**
 * Spacing
 */

$grid-gutter: 20px;
$grid-gutter-half: $grid-gutter / 2;

/**
 * Breakpoints
 *
 * Hold our breakpoint aliases and conditions in a list. These can be invoked
 * later on via the `respond-to()` mixin found in _mixins.scss.
 */

$breakpoints: (
  "mobile"    "(max-width: 745px)",
  "tablet"    "(min-width: 746px) and (max-width: 1023px)",
  "tablet-up" "(min-width: 746px)",
  "desktop"   "(min-width: 1024px)"
);