<head>
	<title>Bundll App - About us</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
	<meta http-equiv="Content-Language" content="en-us"> 
	<meta name="keywords" content="Bundll">
	<meta name="description" content="">
	<meta name="author" content="Bundll">
	<link rel="icon" href="img/favicon.ico" /> 
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>	
	<!-- include css -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<style>
	b{
		font-size:20px;
		text-decoration:underline;
	}
	body{
		background-image:url(img/check.jpg);
		background-repeat:repeat;
		color:#3f3f3f;
		font-size:18px;
	}
	a {
		color:#3f3f3f;
	}
	#content {
		height:auto;
	}
	</style>
</head>
<body>
	<div id="content">
		<h1>About us</h1>
		<p>Social networks have given us a podium to share our lives 'openly' with others - But in real life we share different information with different groups of people, so why do social networks not refelct this?  We built bundll to give people a platform to be themselves, we found it difficult to share what we wanted online without feeling judged, worried about privacy or the wrong people seeing it.</p>

		<p>Each bundll is a private social network just for the people in it, allowing for natural sharing amongst that group without the social media hangover. Couples, best friends, families and coworkers all interact in different ways, now they can share those experiences with each other in a way that matters. Bundll is a simple way to capture breakfast with your family, lunch with your coworkers, a date with your partner and a night out with your best friends - without worrying who will see what.</p>

		<p>We are a young startup based in London and backed by some great angel investors and advisors. We are driven by your feedback and would love to hear from you, you can contact us at <a href="mailto:hello@bundll.com">hello@bundll.com</a> and you're welcome to pop into google campus to see us.</p>
	</div>

	<!-- tracking -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-47926224-1', 'bundll.com');
		ga('send', 'pageview');
	</script>		
</body>