<head>
	<title>Bundll App - Terms</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
	<meta http-equiv="Content-Language" content="en-us"> 
	<meta name="keywords" content="Bundll">
	<meta name="description" content="">
	<meta name="author" content="Bundll">
	<link rel="icon" href="img/favicon.ico" /> 
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>	
	<!-- include css -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<style>
	b{
		font-size:20px;
		text-decoration:underline;
	}
	body{
		color:#3f3f3f;
		font-size:18px;
		background-image:url(img/check.jpg);
		background-repeat:repeat;
	}
	a {
		color:#3f3f3f;
	}
	#content {
		height:auto;
	}
	</style>
</head>
<body>
	<div id="content">
	<b>Privacy Policy</b>

	<p>Our privacy policy explains how information is collected, used and disclosed by Bundll with respect to your access and use of notiss' services, whether through the Bundll mobile application, in connection with social networking services or the website www.bundll.me (referred to below as "Bundll"). You are deemed to accept the terms of this Privacy Policy on your first use of any of Bundll's services. We may change this Privacy Policy from time to time and such changes shall be effective from the date and time the revised Privacy Policy is posted to Bundll's mobile application and or website. All services of the mobile application and website, together with all its content, are owned or controlled by notiss Ltd, a company registered in England and Wales with its registered office at 9 Sable Street, N1 2AF, London, United Kingdom and company registration number 08274020.</p>

	<b>Data Protection</b>

	<p>To provide Bundll's and notiss Ltd's services, it is necessary for us to hold and process certain personal information. We take reasonable care in keeping this information secure and preventing any unauthorized access or unlawful use of it. All personal information is processed by us in accordance with data protection legislation applicable in the UK.</p>

	<b>What Information Do We Collect?</b>

	<p>We collect certain information you provide to us when using Bundll, such as when you create an account and profile, send us an email or content to Bundll. We collect certain personal information, like your name, picture, email address and phone number, as well as certain non-identifying information, like your birthday. We will also send the contact information of your friends to the Bundll server in the event that you choose to connect your contacts and address book information with your Bundll account; this will not be stored for a period of time beyond the necessary operation. Further if you choose to connect your social network accounts such as, but not limited to, Facebook, Instagram, Tumblr and Twitter with your Bundll account we will also collect your log in credentials to those accounts. We also automatically collect certain information when you use Bundll, such as your device identifier (but not the UDID), operating system and your activity on Bundll.</p>

	<b>How Do We Use the Information We Collect?</b>

	<p>We use the information collected through Bundll for the purposes described below:
		<ul>
			<li>to provide our services or information you request, and to process and complete any transactions;</li>
			<li>to respond to your emails, submissions, questions, comments, requests, and complaints and provide customer service;</li>
			<li>to monitor and analyze usage and trends, and to personalize and improve Bundll and your experiences when you use Bundll, and to increase the functionality and user friendliness of our services;</li>
			<li>to send you confirmations, updates, security alerts, and support and administrative messages and otherwise facilitate your use of, and our administration and operation of, our services;</li>
			<li>to find and connect with your friends (when instructed by you);</li>
			<li>to let your friends know about your moments on Bundll; and</li>
			<li>for any other purpose for which the information was collected.</li>
		</ul>
	</p>

	<b>What Information Do We Share With Third Parties?</b>

	<p>We will not share the personal information we have collected from you except as specified in the manner or for the purposes set out below:
		<ul>
			<li>with your friends on Bundll with whom you want to share your moments on Bundll, and according to the preferences set in your account;</li>
			<li>with certain social networking services, if you allow such sharing through our services;</li>
			<li>with service providers who are working with us in connection with the operation of our site or our services (these service providers have access to your personal information only to perform services on our behalf and are obligated not to disclose it or use it for any other purposes);</li>
			<li>we may share aggregated information and non-identifiable information with third parties for industry analysis, demographic profiling and other similar purposes;</li>
			<li>when you give us your consent to do so, including if we notify you that the information you provide will be shared in a particular manner and you provide such information;</li>
			<li>when we believe in good faith that we are lawfully authorized or required to do so or that doing so is reasonably necessary or appropriate to comply with the law or legal processes or respond to lawful requests or legal authorities, including responding to lawful subpoenas, warrants or court orders;</li>
			<li>to enforce or apply our privacy policy, our terms of use or our other policies or agreements; and</li>
			<li>in connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition, or in any other situation where personal information may be disclosed or transferred as one of our business assets.
			We are not responsible for the actions of service providers or other third parties, nor are we responsible for any additional information you provide directly to any third parties.</li>
		</ul>
	</p>

	<b>Creation of Third Party Profiles</b>

	<p>Bundll allows you to create profiles on other people and privately add moments to these profiles. These profiles and moments are for user's own personal use and will not be shared with other Bundll users. The user is responsible for the maintenance of these profiles and the moments that are added to them. The creation of these profiles also allows users to provide personal identifiable information on other people from third party networks and your contact address book; this information will be securely stored on our servers and will NEVER be transferred or sold to third party companies. If you wish to remove a profile you have created this can be done within the 'People' section of the application.</p>

	<b>Links to Other Sites</b>

	<p>Bundll may contain links to other sites. Any information you provide on those sites is provided directly to the owner of that site and is subject to that party's privacy policy. Our privacy policy does not apply to such sites, and we are not responsible for the content or privacy and security practices and policies of those sites.</p>

	<b>What Steps Do We Take To Protect Your Information Online?</b>

	<p>We take reasonable measures to protect your personal information in an effort to prevent loss, misuse and unauthorized access, disclosure, alteration and destruction. Please be aware, however, that despite our efforts, no security measures are perfect or impenetrable and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>

	<b>Accessing and Modifying Your Information</b>

	<p>If you have an account, you can access and modify the personal information you provided to us that is associated with your account. You may receive emails from us, about your account, our services and other pertinent information related to our services. These communications are considered part of the service and your account, which you cannot opt-out from receiving. If you want to delete your information and your account, please contact us with a request that we delete your account and information. We will take steps to delete your information as soon as is practicable, but some information may remain in archived/backup copies for our records and as otherwise required by law.</p>

	<b>International Users</b>

	<p>If you are located outside the United Kingdom and choose to provide information to us, we may transfer your information to the United Kingdom and process it there (or any other country where we operate). By using Bundll, you consent to the collection, transfer, use, storage and disclosure of your information as described in this privacy policy.</p>

	<b>Our Policy Toward Children</b>

	<p>Our service is not directed to children under 14 and we do not knowingly collect personal information from children under 13. If we learn that we have collected personal information of a child under 14, we will take steps to delete such information from our files as soon as possible. Bundll allows you to create profiles on other people and privately add moments to said profiles. Profiles should not be added on people under the age of 14 years old and Bundll does not bear responsibility for the creation of these profiles. If at any point Bundll learns that a profile has been added on a person under the age of 14 years old this profile will be deleted.</p>

	<b>Changes</b>

	<p>Any information that is collected is subject to the privacy policy in effect at the time such information is collected. We may, however, modify and revise our privacy policy from time-to-time. If we make any material changes to this policy, we will notify you of such changes by posting them on Bundll or by sending you an email or other notification, and we will indicate when such changes will become effective. By continuing to access or use Bundll after those changes become effective, you are agreeing to be bound by the revised policy.</p>
	
	<b>Questions?</b>

	<p>Please <a href="mail:hello@bundll.com">contact us</a> if you have any questions about our privacy policy. <a href="mail:hello@bundll.com">(hello@bundll.com)</a><br />
	Effective: March 1st 2014</p>


		
    <div class="copyright">&copy; 2014 notiss ltd. All Rights Reserved.</div>
	
	</div>
	<!-- tracking -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-47926224-1', 'bundll.com');
		ga('send', 'pageview');
	</script>		
</body>