<head>
	<title>Bundll App - Terms</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
	<meta http-equiv="Content-Language" content="en-us"> 
	<meta name="keywords" content="Bundll">
	<meta name="description" content="">
	<meta name="author" content="Bundll">
	<link rel="icon" href="img/favicon.ico" /> 
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>	
	<!-- include css -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<style>
	b{
		font-size:20px;
		text-decoration:underline;
	}
	body{
		color:#3f3f3f;
		font-size:18px;
		background-image:url(img/check.jpg);
		background-repeat:repeat;
	}
	a {
		color:#3f3f3f;
	}
	#content {
		height:auto;
	}
	</style>
</head>
<body>
	<div id="content">
	<b>Terms of Use</b>

	<p>Please read these terms of use carefully ("Terms"). These Terms govern and apply to your access and use of Bundll's social upkeep services available via Bundll mobile apps and web products (the "Service"). The mobile application and the associated website available at www.bundll.com are owned and operated by notiss Ltd. By accessing or using our Service, you agree to be bound by all of the terms and conditions described in these Terms. If you do not agree to all of these terms and conditions, do not use our Service.</p>

	<b>Contracting Parties</b>

	<p>When you register with our site or mobile apps, you are contracting with notiss Ltd, a company registered in England and Wales with its registered office 9 Sable Street, N1 2AF, London, United Kingdom and company registration number 08274020. notiss Ltd, and/or Bundll, is referred to in these terms and conditions as "we", "us", "our", "notiss" or Bundll. <strong>Please note you must be aged 14 or older to register with the site and further age restrictions may apply to certain areas or features of the mobile application and or associated websites. notiss reserves the right to verify the eligibility of all users of notiss or Bundll services.</strong></p>

	<b>Use of the Service</b>

	<p>Bundll allows you to access, view and share moments with your friends through our mobile apps (each an "App") and websites. As long as you comply with these Terms, you have the right to download and install a copy of the App to your mobile device, and to access and use the Service, for your own personal use. You may not: (i) copy, modify or distribute the App for any purpose; (ii) transfer, sublicense, lease, lend, rent or otherwise distribute the App or the Service to any third party; (iii) decompile, reverse-engineer, disassemble, or create derivative works of the App or the Service; (iv) make the functionality of the App or the Service available to multiple users through any means; or (v) use the Service in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms. The following terms apply to any App accessed through or downloaded from any app store or distribution platform (like the Apple App Store) where the App is made available (each an "App Provider"). You acknowledge and agree that:
	<ul>
		<li>These Terms are concluded between you and notiss, and not with the App Provider, and that notiss (not the App Provider), is solely responsible for the App.</li>
		<li>The App Provider has no obligation to furnish any maintenance and support services with respect to the App.</li>
		<li>In the event of any failure of the App to conform to any applicable warranty, you may notify the App Provider, and the App Provider will refund the purchase price for the App to you (if applicable) and to the maximum extent permitted by applicable law, the App Provider will have no other warranty obligation whatsoever with respect to the App. Any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be the sole responsibility of notiss.</li>
		<li>The App Provider is not responsible for addressing any claims you have or any claims of any third party relating to the App or your possession and use of the App, including, but not limited to: (i) product liability claims; (ii) any claim that the App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</li>
		<li>In the event of any third party claim that the App or your possession and use of that App infringes that third party's intellectual property rights, notiss will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms.</li>
		<li>The App Provider, and its subsidiaries, are third party beneficiaries of these Terms as related to your license of the App, and that, upon your acceptance of the terms and conditions of these Terms, the App Provider will have the right (and will be deemed to have accepted the right) to enforce these Terms as related to your license of the App against you as a third party beneficiary thereof.</li>
		<li>You must also comply with all applicable third party terms of service when using the App.Our Service may change from time to time and/or we may stop (permanently or temporarily) providing the Service (or features within the Service), possibly without prior notice to you.</li>
	</ul>
	</p>
	
	<b>Creating a Bundll Account</b>

	<p>In order to access and use Bundll, you will need to register and create an account (your "Account"). By creating an Account, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of England and Wales or other applicable jurisdiction. When creating an Account, you may be required to provide certain personal information about yourself and will establish a username and a password. You agree to provide accurate, current and complete information about your Account.

	When creating an Account, don't:
	<ul>
		<li>provide any false personal information to us (including a false username) or create any account for anyone other than yourself without such other person's permission;</li>
		<li>use a username that is the name of another person with the intent to impersonate that person;</li>
		<li>use a username that is subject to rights of another person without appropriate authorization; or</li>
		<li>use a username that is offensive, vulgar or obscene or otherwise in bad taste.</li>
	</ul>
	We reserve the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading or to reclaim any username that you create through the Service that violates our Terms. You are responsible for maintaining the confidentiality of your password and Account, and agree to notify us if your password is lost, stolen, or disclosed to an unauthorized third party, or otherwise may have been compromised. You are responsible for activities that occur under your Account. You can link your Account to various webmail, social networking, and other online accounts. You may only link your own accounts. We will access and retrieve your account information from these sites on your behalf (in some cases, by using your username and password) to make certain information or services available to you through the Service. By linking your other accounts, you expressly authorize us to access your account information from those third party accounts, on your behalf as your agent and permit us to access, use and, in some cases, store your account information to accomplish the foregoing.
	</p>
	
	<b>Privacy Policy</b>

	<p>Please refer to our Privacy Policies for information on how we collect, use and disclose information from our users <a href="privacy.html">here</a>.</p>

	<b>Content Submissions</b>

	<p>Our Service allows you and other users to post, share and otherwise make available certain information, images, text and/or other content ("Content"). You are responsible for the Content that you post to the Service, including its legality, reliability, and appropriateness. By posting Content to the Service, you grant us the right and license to use and modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. You can remove Content that you posted by specifically deleting it. In certain instances, however, some Content (such as posts or comments you make) may not be completely removed and copies of your Content may continue to exist on the Service and/or elsewhere. We are not responsible or liable for the removal or deletion of (or the failure to remove or delete) any Content on the Service. We ask that you respect our on-line community and other users when posting Content and using the Service. When submitting Content to or otherwise using the Service, you agree not to:
	<ul>
		<li>publish falsehoods or misrepresentations that could damage us, our users or any third party;</li>
		<li>publish any private information of someone, like their address, phone number, email address, and similar information without their permission;</li>
		<li>submit material that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate;</li>
		<li>solicit a user's password or other account information; or</li>
		<li>harvest user names, addresses, or email addresses for any purpose.</li>
	</ul>
	This list is an example and is not intended to be complete or exclusive. We don't have an obligation to monitor your access to or use of the Service or to review or edit any Content, but we have the right to do so for the purpose of operating the Service, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. We reserve the right, at any time and without prior notice, to remove or disable access to any Content, that we consider, in our sole discretion, to be in violation of these Terms or otherwise harmful to the Service. Monitoring of user activity is performed using keyword recognition and flag system operated by notiss. 
	</p>
	
	<b>Content on the Service</b>

	<p>The Content available through the Service has not been reviewed, verified or authenticated by us, and may include inaccuracies or false information. We make no representations, warranties, or guarantees in connection with our Service or any Content on the Service, relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Service. You acknowledge sole responsibility for and assume all risk arising from your use or reliance of any Content.</p>

	<b>Reporting Inappropriate content</b>

	<p>Users have the right to report any contents as inappropriate in line with terms outlines above.  Each post has a direct report button which will send directly to the Company for moderation. By submitting a report users agree to have this content viewed and for the Company to take the decision to remove the content.  Notiss will take all reasonable action to moderate reported content within 24 hours of receiving a report, respond with a decision and where applicable remove said content. If content is removed notiss holds the right to review the user who posted the content account and, in some circumstances delete that user's account. Abuse of the report functionality will result in the same action being taken.</p>

	<b>Member account, password, and security.</b>

	<p>As part of using the Services, you will be asked to provide a username and password (your "Site Credentials"), and other personal information, while going through the checkout process or otherwise. The Site Credentials, or any other information, are provided to notiss as part of notiss' security procedures. You must treat such information as confidential and you must not disclose it to any third party. You will be responsible for any losses incurred as a result of unauthorized access due to a failure to keep your username and password secure. We have the right to disable any username or password, at any time, if in our opinion you have failed to comply with any of the provisions of these Terms of Use. If you believe that your Site Credentials or device that you use to access the site has been lost or stolen, that someone is using your account without your permission, or that an unauthorized transfer occurs you must notify us immediately in order to minimize your possible losses.</p>

	<b>Copyright Policy</b>

	<p>We do not permit copyright infringing activities and infringement of intellectual property rights on the Service and will remove any such Content if properly notified that such Content infringes on another's intellectual property rights.</p>

	<b>Unauthorized Activities</b>

	<p>Our Service may be used and accessed for lawful purposes only. You agree that you will not do any of the following while using or accessing the Service: (i) attempt to access or search the Service or download Content from the Service through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by us or other generally available third party web browsers; (ii) access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery systems of our providers; (iii) gather and use information, such as other users' names, real names, email addresses, available through the Service to transmit any unsolicited advertising, junk mail, spam or other form of solicitation; (iv) use the Service for any commercial purpose or for the benefit of any third party or in any manner not committed in these Terms; (v) violate any applicable law or regulation; or (vi) encourage or enable any other individual to do any of the foregoing. We reserve the right to investigate and prosecute violations of any of the above and/or involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms.</p>

	<b>Indemnity</b>

	<p>you agree to indemnify us with limitation from and against from and against any and all costs, damages, liabilities, and expenses (including legal fees) we incur in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party that your use of the Service or the use of the Service by any person using your Account violates any applicable law or regulation, or the rights of any third party.</p>

	<b>Links to Third Party Sites</b>

	<p>The Service may include links to other sites and services that are not operated by us. We are providing these links to you only as a convenience and are not responsible for the content or links displayed on such sites. You are responsible for and assume all risk arising from your use or reliance of any third party sites.</p>

	<b>Ownership</b>

	<p>Our App and Service is protected by copyright, trademark, and other laws of England and Wales and foreign countries. Except as expressly provided in these Terms, we (or our licensors) exclusively own all right, title and interest in and to the App and the Service, including all associated intellectual property rights. You may not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the App or the Service, including in any Content. You acknowledge and agree that any feedback, comments or suggestions you may provide regarding the App or the Service ("Feedback") will be the sole and exclusive property of notiss and you hereby irrevocably assign to us all of your right, title and interest in and to all Feedback.</p>

	<b>Termination</b>

	<p>If you breach any of the terms of these Terms, we have the right to suspend or disable your access to or use of the App and/or Service.</p>

	<b>Disclaimer</b>

	<p>You understand and agree that the App and the Service are provided to you "AS IS" and on an "AS AVAILABLE" basis. Without limiting the foregoing, WE EXPLICITLY DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. We make no warranty that the App or the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis. In addition, we do not represent or warrant that the services or its contents will be free of defects, including without limitation viruses or other harmful elements</p>

	<b>Limitation of Liability</b>

	<p>OUR TOTAL LIABILITY TO YOU FROM ALL CAUSES OF ACTION AND UNDER ALL THEORIES OF LIABILITY WILL BE LIMITED TO THE AMOUNT YOU PAID FOR THE APP AND IN NO EVENT WILL IT EXCEED £50. WE WILL NOT BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, ECONOMIC LOSS, DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE APP AND/OR SERVICE; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE; (iii) ANY CONTENT OBTAINED FROM THE SERVICE; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT WE HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

	<b>Entire Agreement</b>

	<p>This Agreement constitutes the entire agreement between the parties on the subject matter hereof. There are no understandings, agreements, partnerships, or representations, oral or written, not specified herein regarding this agreement</p>

	<b>Exclusions</b>

	<p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.</p>

	<b>General</b>

	<p>These Terms are governed by the laws of England and Wales, without regard to any conflict of laws rules or principles. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service. We may revise these Terms from time to time, and we will try to provide at least 10 days notice prior to any new terms taking effect. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms.</p>

	<b>Law and Jurisdiction</b>

	<p>This Agreement shall be governed by and will be construed in accordance with the laws of England and Wales. Any Disputes arising under or in connection with this Agreement shall be subject to the exclusive jurisdiction of the English Courts.</p>

	<b>Questions & Contact Information</b>

	<p>Please <a href="mail:hello@bundll.com">contact us</a> if you have any questions about our Terms.<a href="mail:hello@bundll.com">(hello@bundll.com)</a><br />
	Effective: March 1st 2014</p>
	<div class="copyright">&copy; 2014 notiss ltd. All Rights Reserved.</div>

	


 

	</div>
	<!-- tracking -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-47926224-1', 'bundll.com');
		ga('send', 'pageview');
	</script>		
</body>