/** @define AvatarList */

.AvatarList {
  @extend %u-grid;
  text-align: center;
}

.AvatarList li {
  @extend %u-gridItem;
  width: auto;
}

.AvatarList img {
  border-radius: 50%;
}

/**
 * Modifier: small
 */

.AvatarList--small {
  margin-left: -10px;
}

.AvatarList--small li {
  width: 25%;
  padding-left: 10px;
}

.AvatarList--small img {
  width: 100%;
}