/** @define BundllBar */

.BundllBar {
  display: table;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #cdd2d0;
  background-image: linear-gradient(to bottom, #fff 0%, #eff6f4 100%);
}

.BundllBar-unit {
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #cdd2d0;
  
  &:first-child {
    border-left: 0;
  }
}

.BundllBar-unit--addMedia {
  width: 64px;
  text-align: center;
  vertical-align: middle;
}

.BundllBar-unit--updateStatus {
  padding-top: 20px;
}

.BundllBar-unit--allMedia {
  width: 141px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.BundllBar-unit--members {
  width: 123px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
}

.BundllBar-unit--settings {
  width: 65px;
  vertical-align: middle;
  text-align: center;
}

.BundllBar-addMedia {
  width: 32px;
  height: 32px;
  border: 4px solid #13c38f;
  border-radius: 100%;
  text-indent: -1000em;
  overflow: hidden;
  position: relative;
  
  &:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../img/css/upload-pic-icon.png");
  }
}

.BundllBar-allMedia {
  @include font-size(14px);
  width: 100%;
  color: #11c28f;
  font-weight: bold;
  border: 1px solid #b1beba;
  border-radius: 4px;
  padding: 11px 0 10px 0;
  background-image: linear-gradient(to bottom, #fff 0%, #e0f2ed 100%);
}

.BundllBar-membersToggle {
  color: #909895;
  font-weight: bold;
  width: 100%;
  padding: 11px 10px 10px 0;
  
  &:after {
    content: "";
    width: 10px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    background: url("../img/css/down-arrow-tiny.png");
  }
}

.BundllBar-settingsToggle {
  width: 32px;
  height: 32px;
  text-indent: -1000em;
  overflow: hidden;
  background: url("../img/css/settings-toggle-icon.png");
}

.BundllBar-updateStatus {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  background: transparent;
}