/** @define Button */

/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Remove border.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 */

.Button {
  -webkit-appearance: none; /* 1 */
  background: transparent;
  border: 0; /* 2 */
  color: inherit; /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit; /* 4 */
  line-height: normal; /* 5 */
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none; /* 6 */
  white-space: normal; /* 7 */
  -webkit-font-smoothing: inherit;
  transition: opacity 0.2s ease;
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

.Button:hover {
  opacity: 0.6;
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: 0.6;
}

/**
 * Modifier: add alpha
 */

.Button--addAlpha {
  width: 48px;
  height: 48px;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fff 0%, #e0f2ed 100%);
  text-indent: -1000em;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
    background: url("../img/css/add-alpha-icon.png") no-repeat;
  }
}

/**
 * Modifier: primary
 */

.Button--primary {
  @include font-size(13px);
  color: #fff;
  border: 1px solid #19c591;
  border-radius: 4px;
  padding: 11px 16px 11px 16px;
  background-image: linear-gradient(to bottom, #7cf5a2 0%, #13c38f 100%);
}

.ButtonWrap {
  padding-top: 16px;
  text-align: right;
}

/**
 * Modifier: facebook
 */

.Button--facebook {
  @include font-size(14px);
  font-weight: bold;
  font-weight: bold;
  color: #fff;
  background: #3d67aa;
  border: 1px solid #3b5995;
  background-image: linear-gradient(to bottom, #4497e4 0%, #3b5b9a 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
}

/**
 * Modifier: full width
 */

.Button--full {
  width: 100%;
}