/** @define Comment */

.Comment {
  overflow: hidden;
}

.Comment-avatar {
  width: 32px;
  float: left;
}

.Comment-avatar img {
  border-radius: 50%;
}

.Comment-body {
  margin-left: 48px;
}

.Comment-title {
  @include font-size(15px);
  font-weight: bold;
  color: #13c390;
}

.Comment-title time {
  @include font-size(13px);
  font-weight: normal;
  color: #909895;
}

.Comment-body p {
  @include font-size(13px);
}