/** @define Comments */

.Comments {}

.Comments-submit {
  width: 32px;
  height: 32px;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #e0f2ed 0%, #fff 100%);
  float: left;
}

.Comments-field {
  height: 32px;
  margin-left: 48px;
}

.Comments-field input {
  width: 100%;
  height: 100%;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  padding-left: 8px;
}

.Comments-list li {
  margin-bottom: 24px;
}