/** @define Form */

.Form {}

.Form--2col .Form-body {
  @extend %u-grid;
}

.Form--2col .Form-body .Form-section {
  @extend %u-gridItem;
  
  @include respond-to(tablet-up) {
    width: 50%;
  }
}

.Form-foot {
  @extend %u-grid;
  padding-bottom: 30px;
}

.Form-foot .Form-section {
  @extend %u-gridItem;
  
  &:first-child {
    @include respond-to(tablet-up) {
      width: 60%;
    }
  }
  
  &:last-child {
    @include respond-to(tablet-up) {
      width: 40%;
    }
  }
}

.Form--signUp .Form-fields,
.Form--signIn .Form-fields {
  @include respond-to(tablet-up) {
    overflow: hidden;
    margin-left: -16px;
  }
}

.Form--signUp .Form-fields li,
.Form--signIn .Form-fields li {
  @include respond-to(tablet-up) {
    width: 50%;
    float: left;
    padding-left: 16px;
  }
}

.Form-head .Button--facebook {
  margin-bottom: 30px;
}

.Form label,
.Form-label {
  @include font-size(13px);
  color: #909895;
  font-weight: bold;
  display: block;
  margin-bottom: 11px;
}

.Form-fieldSet {
  padding-right: 65px;
  position: relative;
}

.Form-fieldSet button {
  position: absolute;
  top: 0;
  right: 0;
}

.Form-field {
  border: 1px solid #bbcdc7;
  padding: 14px 10px 15px 10px;
  border-radius: 4px;
  width: 100%;
}

.Form-file {
  border: 1px solid #bbcdc7;
  padding: 14px 10px 15px 10px;
  border-radius: 4px;
  width: 100%;
}

.Form-fields li {
  margin-bottom: 33px;
}

.Form-links {}

.Form-links li {
  @include font-size(13px);
  color: #909895;
  margin-bottom: 6px;
}

.Form-links a {
  color: #909895;
  font-weight: bold;
}

.Form-links a:hover {
  color: #000;
}