/** @define Header */

.Header {
  position: relative;
}

.Header-media {
  background: #3b3d3c;
}

.Header-media img {
  width: 100%;
  opacity: .5;
  filter: blur(4px);
}

.Header-body {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.Header-title {
  @include font-size(48px);
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
}

.Header-subtitle {
  @include font-size(18px);
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}