/** @define Item */

.Item {}

.Item-media {}

.Item-media img {
  width: 100%;
}

.Item-head {}

.Item-body {}

/**
 * Item table and table cell
 * 
 * Vertically centre elements responsively
 */

.Item-table {
  display: table;
  width: 100%;
  height: 100%;
}

.Item-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/**
 * Modifier: item overview
 */

.Item--overview {
  display: block;
  height: 100%;
  position: relative;
}

.Item--overview .Item-media {
  background: #444c4a;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.Item--overview .Item-media img {
  opacity: .5;
  filter: blur(2px);
}

.Item--overview .Item-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  transition: opacity .6s $easeOutExpo;
}

.Item--overview h3 {
  font-weight: bold;
}

.Item--overview:hover .Item-media img {
  opacity: 1;
  filter: blur(0);
}

.Item--overview:hover .Item-body {
  opacity: .5;
}

.Item--overview .Item-foot {
  @include respond-to(mobile) {
    display: none;
  }

  @include respond-to(tablet-up) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/**
 * Modifier: add item
 */

.Item--addItem {
  height: 100%;
  border: 2px solid #138f6b;
  border-radius: 4px;
}

.Item--addItem button {
  width: 100%;
  height: 100%;
  color: #138f6b;
  position: relative;
  padding-top: 40px;
  
  &:before {
    content: "+";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -40px;
    border: 4px solid #138f6b;
    border-radius: 6px;
    @include font-size(26px);
    line-height: 20px;
    font-weight: bold;
  }
}