/** @define Modal */

.Modal {
  background: #fff;
  margin: 16px;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(45,121,99,0.3);

  @include respond-to(tablet-up) {
    max-width: 912px;
    margin-left: auto;
    margin-right: auto;
  }
}

.Modal-head {
  text-align: center;
  padding: 11px 40px 30px 40px;
  position: relative;
}

.Modal-head p {
  @include font-size(13px);
  color: #909895;
}

.Modal-title {
  font-weight: bold;
  margin-bottom: 20px;

  @include respond-to(mobile) {
    @include font-size(17px);
  }
}

.Modal-close {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../img/css/close-icon.png") no-repeat;
}

.Modal-body {
  padding-left: 15px;
  padding-right: 15px;
}

.Modal-foot {
  background: #f3f6f5;
  border-top: 1px solid #bbcdc7;
  padding: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.Modal-cta {
  @include font-size(13px);
  color: #fff;
  border: 1px solid #19c591;
  border-radius: 4px;
  padding: 11px 16px 11px 16px;
  background-image: linear-gradient(to bottom, #7cf5a2 0%, #13c38f 100%);
  float: right;
}