/** @define Notifications */

.Notifications {
  width: 320px;
  background: #fff;
  position: absolute;
  top: 64px;
  right: 0;
  border-bottom: 1px solid #bbc0be;
  border-left: 1px solid #dbdfde;
  padding-left: 15px;
  z-index: 3;
}

.Notifications-head {
  border-bottom: 1px solid #bbcdc7;
  padding-top: 12px;
  padding-bottom: 12px;
}

.Notifications-head h3 {
  font-weight: bold;
}

.Notifications-list {}

.Notifications-list li {
  border-bottom: 1px solid #bbcdc7;
  
  &:last-child {
    border-bottom: 0;
  }
}