/** @define Notification */

.Notification {
  padding-top: 15px;
  padding-bottom: 15px;
}

.Notification-head {
  padding-bottom: 15px;
  padding-left: 48px;
  position: relative;
}

.Notification-avatar {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}

.Notification-title {
  font-weight: bold;
  color: #13c390;
}

.Notification-time {
  @include font-size(12px);
  color: #999;
}

.Notification-icon {
  position: absolute;
  top: 0;
  right: 15px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.Notification-icon--bubble {
  background-image: url("../img/css/speech-bubble-icon.png");
}

.Notification-icon--heart {
  background-image: url("../img/css/heart-icon.png");
}

.Notification-subhead {
  padding-bottom: 15px;
}

.Notification-subhead p {
  @include font-size(12px);
  color: #999;
}

.Notification-subhead a {
  color: #13c390;
  font-weight: bold;
  
  &:hover {
    color: #999;
  }
}

.Notification-body {
  @include font-size(12px);
}