/** @define OverviewList */

.OverviewList {}

.OverviewList-items {
  @extend %u-grid;
  margin-left: -16px;
}

.OverviewList-items > li {
  @extend %u-gridItem;
  padding-left: 16px;
  margin-bottom: 16px;
  
  @include respond-to(mobile) {
    width: 50%;
  }
  
  @include respond-to(tablet-up) {
    width: 25%;
  }
}

.OverviewList-tile {
  position: relative;
  height: 0;
  padding-bottom: 66.5%;
}

.OverviewList-tileInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}