/** @define PeopleList */

.PeopleList {
  @include respond-to(mobile) {
    margin-top: 24px;
    padding-top: 21px;
    border-top: 1px solid #c4d4ce;
  }
}

.PeopleList-head {}

.PeopleList-head p {
  @include font-size(13px);
  font-weight: bold;
  color: #909895;
}

.PeopleList-items li {
  @include font-size(13px);
  font-weight: bold;
  color: #909895;
  border-bottom: 1px solid #d5e1de;
  padding-top: 15px;
  padding-bottom: 12px;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
}

.PeopleList-button {
  color: #444c4a;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fff 0%, #e0f2ed 100%);
  padding: 3px 10px 3px 10px;
  position: absolute;
  top: 12px;
  right: 0;
}

.PeopleList-remove {
  float: right;
}

/**
 * Modifier: small
 */

.PeopleList--small {
  margin-bottom: 16px;
}

.PeopleList--small li:last-child {
  border-bottom: 1px solid #d5e1de;
}