/** @define Post */

.Post {
  @extend %u-grid;
  margin-bottom: 16px;
}

.Post-region {
  @extend %u-gridItem;
  
  &:first-child {
    width: 16.666%;
  }
  
  &:last-child {
    width:83.333%;
  }
}

.Post-media {
  position: relative;
}

.Post-media video {
  width: 100%;
  height: auto;
}

.Post-play {
  width: 68px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -35px;
  text-indent: -1000em;
  overflow: hidden;
  background: url("../img/css/play-icon.png") no-repeat;
}

.Post-avatar {
  text-align: center;
}

.Post-avatar img {
  border-radius: 50%;
}

.Post-icons {
  padding-top: 16px;
}

.Post-icons li {
  text-align: center;
  @include font-size(13px);
  margin-bottom: 11px;
}

.Post-icons .Post-icon {
  margin-right: 6px;
}

.Post-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
}

.Post-icon--heart {
  background-image: url("../img/css/post-heart.png");
}

.Post-icon--heart.is-active {
  background-image: url("../img/css/post-heart-active.png");
}

.Post-icon--speech {
  background-image: url("../img/css/post-speech.png");
}

.Post-icon--speech.is-active {
  background-image: url("../img/css/post-speech-active.png");
}

.Post-body {
  background: #fff;
  border: 1px solid #bbcdc7;
  border-radius: 4px;
  overflow: hidden;
}

.Post-content {
  padding: 15px 15px 20px 15px;
  position: relative;
}

.Post-content h2 {
  @include font-size(18px);
  font-weight: bold;
  color: #13c390;
}

.Post-content time {
  @include font-size(14px);
  color: #909895;
}

.Post-content hgroup {
  margin-bottom: 13px;
}

.Post-settingsToggle {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../img/css/settings-toggle-small-icon.png");
}

.Post-comments {
  border-top: 1px solid #bbcdc7;
  background: #f1f5f4;
  padding: 15px;
}