/** @define Settings */

.Settings {
  width: 320px;
  background: #fff;
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  padding-left: 15px;
  padding-top: 15px;
}

.Settings-title {
  @include font-size(17px);
  font-weight: bold;
  margin-bottom: 16px;
}

.Settings-nav {}

.Settings-nav li {
  border-top: 1px solid #7df6a2;
}

.Settings-nav a {
  display: block;
  font-weight: bold;
  color: #13c390;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Settings-nav a:hover {
  color: #999;
}