/** @define Slider */

.Slider {
  position: relative;
}

.Slider img {
  width: 100%;
}

.Slider-body {
  @extend %u-grid;
  margin-left: -1px;
}

.Slider-section {
  @extend %u-gridItem;
  padding-left: 1px;
  padding-bottom: 1px;
  
  @include respond-to(tablet-up) {
    width: 50%;
  }
}

.Slider-button {
  position: absolute;
  bottom: 1px;
  right: 15px;
  padding: 6px 12px 6px 12px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-image: linear-gradient(to bottom, #7df6a2 0%, #12c38f 100%);
  @include font-size(13px);
  color: #fff;
  font-weight: bold;
}