/** @define Template */

.Template {
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Template-head {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.Template-head p {
  @include font-size(13px);
  margin-bottom: 20px;
  color: #909895;
}

.Template-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.Template-subtitle {
  @include font-size(14px);
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background: #d5e1de;
    
    @include respond-to(mobile) {
      width: 30%;
    }
    
    @include respond-to(tablet-up) {
      width: 35%;
    }
  }
  
  &:before {
    left: 0;
  }
  
  &:after {
    right: 0;
  } 
}

.Template-foot {
  @extend %u-grid;
  padding: 15px;
  overflow: hidden;
  
  @include respond-to(mobile) {
    border-top: 1px solid #bbcdc7;
    background-color: #f3f6f5;
  }
}

.Template-foot .Button {
  float: right;
}

.Template-body {
  padding-left: 15px;
  padding-right: 15px;
}

/**
 * Modifier: sign in and sign in
 */

.Template--signIn,
Template--signUp {}

.Template--signIn .Template-body,
.Template--signUp .Template-body {
  @extend %u-grid;
  padding-left: 15px;
  padding-right: 15px;
}

.Template--signIn .Template-body .Template-section {
  @include respond-to(mobile) {
    margin-bottom: 20px;
  }
}

.Template--signIn .Template-section,
.Template--signUp .Template-section {
  @extend %u-gridItem;
}

.Template--signIn .Template-body .Template-section,
.Template--signUp .Template-body .Template-section {
  @include respond-to(tablet-up) {
    width: 50%;
  }
}

.Template--signIn .Template-foot .Template-section,
.Template--signUp .Template-foot .Template-section {
  @include respond-to(mobile) {
    width: 50%;
  }
  
  &:first-child {
    @include respond-to(tablet-up) {
      width: 60%;
    }
  }
  
  &:last-child {
    @include respond-to(tablet-up) {
      width: 40%;
    }
  }
}

/**
 * Modifier: add members
 */

.Template--addMembers {}

.Template--addMembers .Template-body {
  @extend %u-grid;
  padding-left: 15px;
  padding-right: 15px;
}

.Template--addMembers .Template-section {
  @extend %u-gridItem;
  
  @include respond-to(tablet-up) {
    width: 50%;
  }
}

/**
 * Modifier: create bundll
 */

.Template--createBundll {}

/**
 * Modifier: status update
 */

.Template--statusUpdate {}

/**
 * Modifier: choose bundll
 */

.Template--chooseBundll {
  max-width: none;
}