/** @define TopBar */

.TopBar {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #10bd8b;
  background-image: linear-gradient(to bottom, #7df6a2 0%, #13c38e 100%);

  @include respond-to(mobile) {
    height: 48px;
  }

  @include respond-to(tablet-up) {
    height: 64px;
  }
}

.TopBar-menu {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #12c38f;
  text-indent: -1000em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;

  @include respond-to(mobile) {
    width: 49px;
    height: 48px;
    background-image: url("../img/css/menu-icon.png");
  }

  @include respond-to(tablet-up) {
    width: 65px;
    height: 64px;
    background-image: url("../img/css/menu-icon-large.png");
  }
}

.TopBar-logo {
  @include respond-to(mobile) {
    display: none;
  }

  @include respond-to(tablet-up) {
    width: 105px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 80px;
    text-indent: -1000em;
    overflow: hidden;
    background: url("../img/css/logo.png") no-repeat;
  }
}

.TopBar-title {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid;
  margin-top: 11px;
  position: relative;

  @include respond-to(mobile) {
    @include font-size(16px);
    padding-right: 12px;
  }

  @include respond-to(tablet-up) {
    @include font-size(24px);
    padding-right: 14px;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;

    @include respond-to(mobile) {
      bottom: 3px;
      background-image: url("../img/css/top-bar-title-icon.png");
    }

    @include respond-to(tablet-up) {
      bottom: 8px;
      background-image: url("../img/css/top-bar-title-icon-large.png");
    }
  }
}

.TopBar-newBundll {
  @include respond-to(mobile) {
    display: none;
  }

  @include respond-to(tablet-up) {
    color: #38d596;
    padding: 10px 11px 9px 34px;
    border-radius: 4px;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 76px;
    background-image: linear-gradient(to bottom, #fff 0%, #dff1ec 100%);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
  }

  &:before {
    content: "+";
    @include font-size(22px);
    position: absolute;
    top: 4px;
    left: 10px;
  }
}

.TopBar-notifications {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -1000em;
  overflow: hidden;
  border-left: 1px solid #12c38f;
  background-repeat: no-repeat;
  background-position: center;

  @include respond-to(mobile) {
    width: 49px;
    height: 48px;
    background-image: url("../img/css/notifications-icon.png");
  }

  @include respond-to(tablet-up) {
    width: 65px;
    height: 64px;
    background-image: url("../img/css/notifications-icon-large.png");
  }
}