/** @define UpdateStatus */

.UpdateStatus {}

.UpdateStatus-head {
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid #c4d4ce;
  //overflow: hidden;
}

.UpdateStatus-close {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  overflow: hidden;
  background: url("../img/css/close-icon.png");
  margin-top: 7px;
}

.UpdateStatus-submit {
  @include font-size(13px);
  color: #fff;
  float: right;
  padding: 6px 16px 6px 16px;
  border: 1px solid #19c591;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #7cf5a2 0%, #13c38f 100%);
}

.UpdateStatus-body {
  border-bottom: 1px solid #c4d4ce;
  padding: 16px 16px 10px 16px;
}

.UpdateStatus textarea {
  @include font-size(13px);
  color: #909895;
  width: 100%;
}

.UpdateStatus-foot {
  padding: 8px;
}

.UpdateStatus-addMedia {
  width: 32px;
  height: 32px;
  border: 4px solid #13c38f;
  border-radius: 100%;
  text-indent: -1000em;
  overflow: hidden;
  position: relative;
  
  &:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../img/css/upload-pic-icon.png");
  }
}