/**
 * Font size mixin
 *
 * This will generate a rem-based font-size with its pixel fallback.
 *
 * @include font-size(12px);
 */

@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

/**
 * Media query mixin
 *
 * A simple mixin to quickly generate whole media queries from the aliases and
 * conditions defined in `_settings.scss`.
 *
 * @include respond-to(mobile) { ... }
 */

@mixin respond-to($mq) {
  $breakpoint-found: false;
  
  // Loop through the list of breakpoints in our settings file
  @each $breakpoint in $breakpoints {
    // Grab the alias and the condition from their respective locations in the list
    $alias: nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);
    
    // If the media query we’ve specified has an alias and a condition
    @if $mq == $alias and $condition {
      // tell the mixin that we’ve found it
      $breakpoint-found: true;
      
      // and spit it out here
      @media #{$condition} {
        @content;
      }
    }
  }
  
  // If the alias doesn't exist
  @if $breakpoint-found == false {
    @warn "Oops! Breakpoint '#{$mq}' does not exist."
  }
}