/**
 * Core grid system
 */

/**
 * Grid container
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 * 2. Ensure consistent default alignment.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */

%u-grid {
  display: block; /* 1 */
  margin: 0; /* 1 */
  padding: 0; /* 1 */
  text-align: left; /* 2 */
  margin-left: -$grid-gutter; /* 3 */
}

/**
 * Grid item
 *
 * 1. Fundamentals of the non-float grid layout.
 * 2. Space columns apart.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Controls vertical positioning of units.
 * 5. Make cells full-width by default.
 */

%u-gridItem {
  display: inline-block; /* 1 */
  margin: 0;
  padding-left: $grid-gutter; /* 2 */
  text-align: left; /* 3 */
  vertical-align: top; /* 4 */
  width: 100%; /* 5 */
}