/**
 * Text utilities
 *
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 */

%u-textAlpha {
  @include font-size($text-alpha);
  line-height: $line-height-alpha;
}

%u-textBeta {
  @include font-size($text-beta);
  line-height: $line-height-beta;
}

%u-textGamma {
  @include font-size($text-gamma);
  line-height: $line-height-gamma;
}

%u-textDelta {
  @include font-size($text-delta);
  line-height: $line-height-delta;
}

%u-textEpsilon {
  @include font-size($text-epsilon);
  line-height: $line-height-epsilon;
}

%u-textZeta {
  @include font-size($text-zeta);
  line-height: $line-height-zeta;
}